.button {
	font-size: 1.6rem;
	padding: 0.7rem;
}

.filter {
	label {
		font-weight: bold;
		margin-right: 1rem;
	}
	text-align: center;
	margin: 2rem auto;
	width: 50%;
}

.select {
	background-color: white;
}
