.address {
	display: inline-block;
}

.hours {
	display: inline-block;
}

.name {
	display: inline-block;
	a {
		font-weight: bold;
		font-size: 2rem;
	}
	justify-self: start;
}

.placeholder {
	display: inline-block;
	height: 50px;
	margin-right: 1.5rem;
	width: 50px;
}

.row {
	align-items: center;
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 0.5rem;
	grid-template-columns: repeat(5, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, 3rem);
	img {
		border-radius: 50%;
		display: inline-block;
		height: 50px;
		margin-right: 1.5rem;
		width: 50px;
	}
	justify-items: center;
	margin: 2rem auto;
	width: 100%;
}
