.cell {
	display: inline-block;
	font-size: 2rem;
	font-weight: bold;
}

.container {
	margin: 5rem auto;
	width: 60%;
}

.row {
	align-items: center;
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 0.5rem;
	grid-template-columns: repeat(5, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, 3rem);
	justify-items: center;
	margin: 2rem auto;
	width: 100%;
}
